<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/styles.css">

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: rgb(223, 223, 223);
        }

        .list-user {
            padding: 50px 50px;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
    </div>
    <div class="list-user">
        <h3>List User</h3>
        <table class="table-list-users">
            <thead>
                <tr class="w3-light-grey">
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <!-- <% for(var i=0;i< listUsers.length;i++){%>
                <tr>
                    <td>
                        <%=listUsers[i].id%>
                    </td>
                    <td>
                        <%=listUsers[i].email%>
                    </td>
                    <td>
                        <%=listUsers[i].name%>
                    </td>
                    <td>
                        <%=listUsers[i].city%>
                    </td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <%}%> -->

            <%listUsers.forEach((user,index)=>{%>
                <tr>
                    <td>
                        <%=user.id%>
                    </td>
                    <td>
                        <%=user.email%>
                    </td>
                    <td>
                        <%=user.name%>
                    </td>
                    <td>
                        <%=user.city%>
                    </td>
                    <td>
                        <form action="/update/<%=user.id%>" method="GET">
                            <button>Edit</button>
                        </form>
                        <form action="/delete/<%=user.id%>" method="POST">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>

                <% }) %>
        </table>
    </div>
</body>

</html>